/*-----------------------------------
 * FOOTER
 *-----------------------------------*/
// Footer for theme unit test
.original-footer {
  text-align: center;
  padding: 30px 0;
}

// Main footer
#haru-footer {
  clear: both;
}

