$root: '.haru-button';
$haru-align: '.haru-align';

#{$root} {
  // display: inline-block;
  // line-height: 1;
  // background-color: #818a91;
  // font-size: 15px;
  // padding: 12px 24px;
  // border-radius: 3px;
  // color: $cl-white;
  // fill: $cl-white;
  // text-align: center;
  // transition: all .3s;

  // &:focus,
  // &:hover,
  // &:visited {
  // 	color: $cl-white;
  // }

  span {
  	text-decoration: inherit;
  }

  &-content-wrapper {
  	display: flex;
		justify-content: center;
  }

  &-icon {
  	flex-grow: 0;
  	order: 5;
  }

  &-text {
  	flex-grow: 1;
  	order: 10;
  	display: inline-block;
  }

  #{$haru-align} {
  	&-icon {
  		&-left {
  			margin-right: 5px;
  			order: 5;
  		}

  		&-right {
  			margin-left: 5px;
  			order: 15;
  		}
  	}
  }

  &--style-2 {
  	width: 86px!important;
  	height: 86px;
  	line-height: 70px;
  	font-size: 14px;
    border: 8px solid #f9f9f9;
    padding: 0;

    @media screen and (max-width: $screen-md-max) {
      width: 76px!important;
      height: 76px;
      line-height: 60px;
      font-size: 13px;
      font-weight: $fw-semi-bold;
    }

    @media screen and (max-width: $screen-xs-max) {
      width: 58px!important;
      height: 58px;
      line-height: 50px;
      border: 4px solid #f9f9f9;
      font-size: 12px;
    }
  }

  &--style-3 {
    padding: 0 125px;
    max-width: 100%;

    @media screen and (max-width: $screen-md-max) {
      padding: 0 100px;
    }

    @media screen and (max-width: $screen-sm-max) {
      padding: 0 50px;
    }

    .haru-button-icon {
      width: 24px;
      height: 24px;
      margin-left: 12px;
      border-radius: 50%;
      background-color: rgba($cl-white, .1);
      line-height: 22px;
      text-align: center;
    }

    path,
    rect {
      fill: $cl-white;
    }

    .haru-button-content-wrapper {
      align-items: center;
    }
  }
}

#{$haru-align} {
	&-left {
		text-align: left;

		#{$root} {
			width: auto;
		}
	}

	&-right {
		text-align: right;

		#{$root} {
			width: auto;
		}
	}
	
	&-center {
		text-align: center;

		#{$root} {
			width: auto;
		}
	}

	&-justify {
		#{$root} {
			width: 100%;
		}
	}
}


