$root: '.haru-cart';

#{$root} {
    .mini-cart-wrap {
        &.no-price {
            .sub-total-text {
                display: none;
            }
        }

        &.with-price {
            .sub-total-text {
                position: absolute;
                top: 23px;
                right: 0px;
                font-size: 13px;
            }
        }

        // Use from widget sidebar
        .widget_shopping_cart_content {
            display: block;
            text-align: left;

            &:hover {
                .cart_list_wrap {
                    top: 100%;
                    opacity: 1;
                    visibility: visible;
                    transition-timing-function: cubic-bezier(.11, .76, .24, .93);

                    @media screen and(max-width: $screen-sm-max) {
                        margin-top: 0;
                    }
                }
            }

            .empty {
                padding-bottom: 10px;
                text-align: center;
            }

            .cart_list_wrap {
                display: block;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 150%;
                right: 0;
                left: auto;
                min-width: 300px;
                background-color: $cl-white;
                border: solid 1px $cl-border;
                z-index: 999;
                transition: all .5s;

                .mini-cart-sidebar-header {
                    display: none;
                }

                .cart-total {
                    padding: 0 15px 15px;
                    position: relative;
                    color: $cl-heading;
                    font-weight: $fw-bold;
                }

                .total {
                    padding: 0;
                    margin: 0;
                    font-size: $fs-base;
                    
                    border-bottom: solid 1px $cl-border;
                    line-height: 43px;

                    strong {
                        text-transform: uppercase;
                        font-weight: $fw-semi-bold;
                    }

                    .amount {
                        float: right;
                    }
                }

                .buttons {
                    text-align: center;
                    margin: 0;
                    padding-top: 15px;

                    .button {
                        font-size: $fs-base - 1px;
                        width: 48%;
                        display: inline-block;
                        text-transform: uppercase;
                    }

                    .button + .button {
                        margin-left: 4%;
                    }
                }
            }

            .cart_list {
                list-style: none;
                margin: 0;
                padding: 15px 15px 0;
                max-height: 350px;
                overflow-y: auto;
                position: relative;

                &::-webkit-scrollbar-track {
                    border-radius: 10px;
                    background-color: $cl-gray;  
                }

                &::-moz-scrollbar-track {
                    border-radius: 10px;
                    background-color: $cl-gray;  
                }

                &::-webkit-scrollbar {
                    width: 5px;
                    background-color: $cl-gray;
                }

                &::-moz-scrollbar {
                    width: 5px;
                    background-color: $cl-gray;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;   
                    background-color: $cl-primary;
                }

                &::-moz-scrollbar-thumb {
                    border-radius: 10px;   
                    background-color: $cl-primary;
                }
            }
        }

        // Cart sidebar
        &.cart-sidebar {
            .sub-total-text {
                display: none;
            }

            .widget_shopping_cart_content {
                .cart_list_wrap {
                    background-color: $cl-white;
                    border: none;
                    position: fixed;
                    z-index: 9999;
                    top: 0;
                    left: 100%;
                    bottom: 0;
                    height: 100%;
                    width: 300px;
                    overflow: hidden;
                    padding: 0;
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                    box-shadow: 0 0 10px 0 rgba($cl-black, .2);
                    transition: all .5s;

                    &.in {
                        transform: translateX(-100%);
                    }

                    .mini-cart-sidebar-header {
                        display: block;
                        background-color: $cl-black;
                        color: $cl-white;
                        display: block;
                        font-weight: $fw-bold;
                        padding: 10px 15px;
                        position: relative;
                        text-transform: uppercase;

                        .canvas-sidebar-close {
                            position: absolute;
                            height: 45px;
                            width: 45px;
                            right: 0;
                            top: 0;

                            &:hover {
                                cursor: pointer;

                                &:before,
                                &:after {
                                    background-color: $cl-primary;
                                    transition: all .3s;
                                }
                            }

                            &:before,
                            &:after {
                                content: '';
                                position: absolute;
                                height: 2px;
                                width: 20px;
                                top: 50%;
                                left: 13px;
                                margin-top: -1px;
                                background-color: $cl-white;
                                transform: translateX(-50%);
                                transition: all .3s;
                            }

                            &:before {
                                transform: rotate(45deg);
                            }

                            &:after {
                                transform: rotate(-45deg);
                            }
                        }
                    }

                    .cart_list {
                        padding: 20px 15px 0 15px;
                        max-height: calc(100% - 195px);

                        li {
                            border-top: 1px solid rgba($cl-border, .3);

                            &:first-child {
                                border-top: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
