// Override Theme Style
img {
	max-width: 100%;
}

// Layout
.haru-container {
	max-width: 1170px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (max-width: $screen-sm-max) {
		max-width: 970px;
    }

    @media screen and (max-width: $screen-xs-max) {
		max-width: 750px;
    }

    &:before {
    	display: table;
    	content: '';
    }

    &:after {
    	display: table;
    	content: '';
    	clear: both;
    }
}

.grid-columns {
    flex-wrap: wrap;
    display: flex;

    &__five,
	&__5 {
		.grid-item {
			width: 20%;
			display: inline-block;
		    vertical-align: top;

		    @media screen and (max-width: $screen-md-max) {
				width: 25%;
			}

		    @media screen and (max-width: $screen-sm-max) {
				width: 33.333333%;

				@-moz-document url-prefix() {
                    width: calc(33.333333% - .1px);
                }
			}

		    @media screen and (max-width: $screen-xs-max) {
				width: 100%;
			}
		}
	}

	&__four,
	&__4 {
		.grid-item {
			width: 25%;
			display: inline-block;
		    vertical-align: top;

		    @media screen and (max-width: $screen-sm-max) {
				width: 33.333333%;

				@-moz-document url-prefix() {
                    width: calc(33.333333% - .1px);
                }
			}

		    @media screen and (max-width: $screen-xs-max) {
				width: 100%;
			}
		}
	}

	&__three,
	&__3 {
		.grid-item {
			width: 33.333333%;
			display: inline-block;
			vertical-align: top;

			@-moz-document url-prefix() {
                width: calc(33.333333% - .1px);
            }

			@media screen and (max-width: $screen-xs-max) {
				width: 100%;
			}
		}
	}

	&__two,
	&__2 {
		.grid-item {
			width: 50%;
			display: inline-block;
			vertical-align: top;

			@media screen and (max-width: $screen-xs-max) {
				width: 100%;
			}
		}
	}
}

// Isotope
.isotope-loaded {
	display: block;
	overflow: hidden;
}

// Slick
.haru-slick {
	display: none;

	&.slick-initialized {
		display: block;
	}
}

// Social share
.post-social-share {
	margin-left: auto;

	.social-share {
		margin: 0;
		padding: 0;
		list-style: none;

		&__label {
			color: $cl-heading;
			font-weight: $fw-medium;
			margin-right: 5px;
		}

		&__facebook {
			a {
				background-color: #3b5998;
			}
		}

		&__twitter {
			a {
				background-color: #00acee;
			}
		}

		&__google {
				a {
					background-color: #dd4b39;
				}
			}

		&__linkedin {
			a {
				background-color: #0e76a8;
			}
		}

		&__tumblr {
			a {
				background-color: #34526f;
			}
		}

		&__pinterest {
			a {
				background-color: #c8232c;
			}
		}

		&__vk {
			a {
				background-color: #4c75a3;
			}
		}
	}

	li {
		display: inline-block;
		margin: 0 1px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		width: 32px;
		height: 32px;
		line-height: 32px;
		border-radius: $border-radius;
		display: block;
		color: $white;
		text-align: center;
		transition: all .3s;

		&:hover {
			background-color: $cl-primary;
			color: $white;
			transition: all .3s;
		}
	}
}

// Layout Sidebar
.haru-archive-video,
.haru-archive-person {
    &:not(.haru-container) {
        padding: 0 30px;

        @media screen and (max-width: $screen-xs-max) {
            padding: 0 15px;
        }
    }
}

.archive-sidebar,
.single-sidebar {
	&.left-sidebar {
		width: 25%;
		float: left;
		padding-right: 30px;

		@media screen and (max-width: $screen-sm-max) {
			width: 100%;
			float: none;
			padding-right: 0;
		}
	}

	&.right-sidebar {
		width: 25%;
		float: right;
		padding-left: 30px;

		@media screen and (max-width: $screen-sm-max) {
			width: 100%;
			float: none;
			padding-left: 0;
		}
	}
}

// Layout Content
.archive-content,
.single-content {
	margin-bottom: 60px;

	&.has-left-sidebar {
		width: 75%;
		float: right;
		padding-left: 0;

		@media screen and (max-width: $screen-sm-max) {
			width: 100%;
			float: none;
		}
	}

	&.has-right-sidebar {
		width: 75%;
		float: left;
		padding-right: 0;

		@media screen and (max-width: $screen-sm-max) {
			width: 100%;
			float: none;
		}
	}

	// Two sidebar
	&.has-left-sidebar {
		&.has-right-sidebar {
			width: 50%;
			display: inline-block;
			float: none!important;

			@media screen and (max-width: $screen-sm-max) {
				width: 100%;
			}
		}
	}
}

.archive-video,
.archive-person {
    &__title {
        font-size: 18px;
        font-weight: $fw-normal;
        margin: 0;

        @media screen and (max-width: $screen-md-max) {
			font-size: 16px;
        }

        @media screen and (max-width: $screen-xs-max) {
			font-size: 14px;
        }
    }
}

// Layout Archive
// Archive Top
.haru-archive-top {
	display: flex;
	margin-bottom: 40px;

	@media screen and (max-width: $screen-xs-max) {
		display: block;
	}
}

.haru-archive-top-left {
	display: flex;
	align-items: center;

	@media screen and (max-width: $screen-xs-max) {
		margin-bottom: 15px;
	}
}

.haru-archive-top-right {
	display: flex;
	margin-left: auto;
}

.archive-single {
	&__title {
		font-size: 20px;
		margin: 0;
		color: $cl-heading;

		@media screen and (max-width: $screen-md-max) {
			font-size: 18px;
		}

		@media screen and (max-width: $screen-xs-max) {
			font-size: 16px;
		}
	}
}

.haru-archive-layout-toggle {
	display: flex;
	font-weight: $fw-bold;
	margin-right: 30px;

	@media screen and (max-width: $screen-xs-max) {
		flex: 120px 0 0;
	}

	.toggle-layout {
		background-color: $cl-gray;
		border: 1px solid $cl-border;
		border-radius: $border-radius;
		width: 40px;
		height: 40px;
		text-align: center;
		margin-left: 5px;

		&:first-child {
			margin-left: 0;
		}

		&.active {
			background-color: $cl-primary;
			border: 1px solid $cl-primary;

			.haru-icon {
				background-color: $white;
			}
		}

		&[data-layout="grid"],
		&[data-layout="list"],
		&[data-layout="list-2"] {
			font-size: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&[data-layout="grid"] {

		}

		&[data-layout="list"] {
			.haru-icon {
				position: relative;
				top: -1px;
			}
		}

		&[data-layout="list-2"] {
			.haru-icon {
				position: relative;
				top: -1px;
			}
		}
	}
}

.haru-archive-order {
	position: relative;
	display: block;
	min-width: 150px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzIDZMOCAxMUwzIDYiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==);
  	background-size: auto 18px;
  	background-repeat: no-repeat;
  	background-position: right 5px top 50%;
  	background-color: $cl-gray;

	@media screen and (max-width: $screen-xs-max) {
		margin-left: auto;
	}

	&:hover {
		cursor: pointer;
	}

	.order-item-current {
		border: 1px solid $cl-border;
		height: 40px;
		line-height: 38px;
		padding: 0 15px;
		position: relative;
		border-radius: $border-radius;

		text-transform: capitalize;

		&.active {
			border: 1px solid $cl-primary;

			&:before {
				transform: rotate(180deg);
				top: calc(50% - 3px);
			}
		}
	}

	.order-items {
		position: absolute;
		background-color: $white;
		width: 100%;
		left: 0;
		top: calc(100% + 3px);
		padding: 0;
		margin: 0;
		list-style: none;
		border: 1px solid $cl-border;
		opacity: 0;
		visibility: hidden;
		z-index: 99;
		border-radius: $border-radius;
		overflow: hidden;

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}

	.order-item {
		&.selected {
			background-color: $cl-primary;
			a {
				color: $white;
			}
		}

		a {
			display: block;
			padding: 2px 15px;
		}
	}
}

.archive-pagination {
	margin-top: 30px;
	width: 100%;
	text-align: center;

	@media screen and (max-width: $screen-xs-max) {
		margin-top: 15px;
	}

	.page-numbers {
		padding: 0 5px;

		&.current {
			color: $cl-primary;
		}
	}
}

.single-pagination {
	margin-top: 30px;
	text-align: center;
}

.layout-wrap {
	&.style-list {
		// Video
		.video-item {
			display: flex;
			width: 100%;
			align-items: start;

			@media screen and (max-width: $screen-xs-max) {
				display: block;
			}

			&__thumbnail {
				width: 50%;

				@media screen and (max-width: $screen-xs-max) {
					width: 100%;
				}
			}

			&__content {
				width: 50%;
				padding-left: 30px;

				@media screen and (max-width: $screen-xs-max) {
					width: 100%;
					padding-left: 0;
					margin-top: 15px;
				}
			}
		}

		// Person
		.person-item {
			display: flex;
			width: 100%;
			align-items: start;

			@media screen and (max-width: $screen-xs-max) {
				display: block;
			}

			&__thumbnail {
				width: 50%;

				@media screen and (max-width: $screen-xs-max) {
					width: 100%;
				}
			}

			&__content {
				width: 50%;
				padding-left: 30px;

				@media screen and (max-width: $screen-xs-max) {
					width: 100%;
					padding-left: 0;
					margin-top: 15px;
				}
			}
		}
	}

	&.style-list-2 {
		// Video
		.video-item {
			width: 100%;
		}

		// Person
		.person-item {
			width: 100%;
		}
	}
}

// Layout Single


// Pagination
.archive-pagination {
	.pagination {
		.page-numbers {
			display: inline-block;
			width: 32px;
			height: 32px;
			line-height: 32px;
			background-color: #f7f8f9;
			margin: 0 5px;
			border-radius: $border-radius;
			font-weight: $fw-medium;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&.current {
				background-color: $cl-primary;
			}

			&.prev,
			&.next {
				width: auto;
				padding: 0 10px;
			}
		}
	}
}

// Button
.haru-button {
	background-color: $cl-primary;
	color: $white;
	display: inline-block;
	font-weight: $fw-medium;
	height: 40px;
	line-height: 40px;
	padding: 0 25px;
	border-radius: $border-radius;

	&:hover {
		color: $white;
	}
}

// Shortcode
.hide-control {
	display: none;
}

// Breadcrumb
.haru-archive-breadcrumbs,
.haru-single-breadcrumbs {
	background-color: #f5f5f5;
	padding: 15px 0;
	margin-bottom: 80px;

	@media screen and (max-width: $screen-sm-max) {
		margin-bottom: 60px;
	}

	.full-width {
		padding: 0 30px;

		@media screen and (max-width: $screen-xs-max) {
            padding: 0 15px;
        }
	}
}

.haru-breadcrumb {
	.delimiter {
		padding: 0 3px;
	}

	.current {
		color: $cl-primary;
	}
}

// https://tympanus.net/codrops/2012/05/09/how-to-create-a-fast-hover-slideshow-with-css3/
@-webkit-keyframes load8 {
  	0% {
    	-webkit-transform: rotate(0deg);
    	transform: rotate(0deg);
  	}
  	100% {
    	-webkit-transform: rotate(360deg);
    	transform: rotate(360deg);
  	}
}
@keyframes load8 {
  	0% {
    	-webkit-transform: rotate(0deg);
    	transform: rotate(0deg);
  	}
  	100% {
    	-webkit-transform: rotate(360deg);
    	transform: rotate(360deg);
  	}
}

.haru-clear {
	&:before,
	&:after {
		display: table;
		content: '';
	}

	&:after {
		clear: both;
	}
}


// Loading: https://projects.lukehaas.me/css-loaders/
.video-ajax-content,
.channel-ajax-content,
.series-ajax-content,
.playlist-ajax-content {
	position: relative;
	min-height: 200px;

	@media screen and (max-width: $screen-md-max) {
		min-height: 175px;
	}

	@media screen and (max-width: $screen-sm-max) {
		min-height: 130px;
	}

	&:before {
		content: '';
		background-color: rgba($white, .9);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 9;
		opacity: 0;
		visibility: hidden;
	}

	&.loading {
		&:before,
		.ajax-loading-icon {
			opacity: 1;
			visibility: visible;
		}
	}
}

.ajax-loading-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9;
	opacity: 0;
	visibility: hidden;
}

.loading-bar {
	margin: 60px auto;
  	font-size: 4px;
  	position: relative;
  	text-indent: -9999em;
  	border-top: 5px solid rgba($cl-primary, .1);
  	border-right: 5px solid rgba($cl-primary, .1);
  	border-bottom: 5px solid rgba($cl-primary, .1);
  	border-left: 5px solid $cl-primary;
  	-webkit-transform: translateZ(0);
  	-ms-transform: translateZ(0);
  	transform: translateZ(0);
  	-webkit-animation: load8 1.1s infinite linear;
  	animation: load8 1.1s infinite linear;
  	border-radius: 50%;
  	width: 10em;
  	height: 10em;

	&:after {
	  	border-radius: 50%;
  		width: 10em;
  		height: 10em;
	}
}

.button-border {
	display: inline-block;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: $border-radius;
	padding: 0 25px;
	line-height: 38px;
	font-weight: $fw-medium;
	color: $cl-primary;
	transition: all .3s;

	&:hover {
		background-color: $cl-primary;
		border: 1px solid $cl-primary;
		color: $white;
		transition: all .3s;
	}

	&--medium {
		height: 32px;
		line-height: 30px;
		padding: 0 20px;
		font-size: $fs_small;
	}

	&--small {
		height: 28px;
		line-height: 26px;
		padding: 0 20px;
		font-size: $fs_small;
	}

	&--tiny {
		height: 24px;
		line-height: 22px;
		padding: 0 15px;
		font-size: $fs_extra_small;
	}
}

.button-background {
	background-color: $cl-primary;
	display: inline-block;
	height: 40px;
	border: 1px solid $cl-primary;
	border-radius: $border-radius;
	padding: 0 25px;
	line-height: 38px;
	font-weight: $fw-medium;
	color: $white;
	transition: all .3s;

	&:hover {
		background-color: transparent;
		border: 1px solid $cl-primary;
		color: $cl-primary;
		transition: all .3s;
	}

	&--medium {
		height: 32px;
		line-height: 30px;
		padding: 0 20px;
		font-size: $fs_small;
	}

	&--small {
		height: 28px;
		line-height: 26px;
		padding: 0 20px;
		font-size: $fs_small;
	}

	&--tiny {
		height: 24px;
		line-height: 22px;
		padding: 0 15px;
		font-size: $fs_extra_small;
	}
}

// Notice
.haru-notice {
	color: #721c24;
	background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: $border-radius;
    display: block;
    line-height: 1.8;
    font-weight: $fw-normal;
}

// Spacing
.xs-mt-15 {
	@media screen and (max-width: $screen-xs-max) {
		margin-top: 15px;
	}
}
