.video-top-shortcode {
	position: relative;

    .haru-shortcode-title {
        font-size: 20px;
        margin-bottom: 24px;
        position: relative;
        font-weight: $fw-medium;
        color: $cl-heading;

        @media screen and (max-width: $screen-md-max) {
            font-size: 18px;
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: 16px;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $cl-border;
        }

        span {
            position: relative;
            display: inline-block;
            padding-bottom: 15px;
        }
    }

	.video-list {
		
	}

	// Slick general
	.haru-slick {
		display: none;

		&.slick-initialized {
			display: block;
		}

		&:hover {
			.slick-arrow {
		        &.slick-prev, 
		        &.slick-next {
					opacity: 1;
					transition: all .3s;
		        }
	        }
		}
	}
	
	&.default {
		.video-item {
			position: relative;

			&.default {
				display: flex;
                align-items: start;
				margin-bottom: 24px;

				&:last-child {
					border: none;
					padding-bottom: 0;
				}

				.video-item__thumbnail {
					width: 35%;
                    min-width: 100px;
				}

                .video-item__icon {
                    display: none;
                }

                .video-item__duration {
                    font-size: $fs_extra_small;
                    bottom: 4px;
                    right: 4px;
                }

                .video-watch-later {
                    top: 4px;
                    right: 4px;
                }

				.video-item__content {
					padding-left: 12px;
					width: 65%;
				}

				.video-item__title {
					margin-top: 0;
					padding-top: 0;

                    a {
                        font-size: $fs_small;
                    }
				}

                .video-item__meta {
                    margin-bottom: 0;
                }
                
                .video-item__author {
                    display: none;
                }
			}
		}

        &.style-sidebar,
        &.style-sidebar-2 {
            .video-item {
                &.default {
                    @media screen and (max-width: $screen-sm-max) {
                        display: block;
                        margin-bottom: 15px;
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        display: flex;
                        margin-bottom: 24px;
                    }

                    .video-item__meta {
                        @media screen and (max-width: $screen-sm-max) {
                            display: none;
                        }

                        @media screen and (max-width: $screen-xs-max) {
                            display: flex;
                        }
                    }

                    .video-item__date {
                        display: none;

                        @media screen and (max-width: $screen-xs-max) {
                            display: block;
                        }
                    }

                    .video-item__title {
                        @media screen and (max-width: $screen-sm-max) {
                            padding-top: 5px;
                            margin-bottom: 5px;
                            margin-top: 10px;
                        }

                        @media screen and (max-width: $screen-xs-max) {
                            margin-top: 0;
                            padding-top: 0;
                        }
                    }

                    .video-item__thumbnail {
                        @media screen and (max-width: $screen-sm-max) {
                            width: 100%;
                        }
                        
                        @media screen and (max-width: $screen-xs-max) {
                            width: 35%;
                            min-width: 100px;
                        }
                    }

                    .video-item__content {
                        @media screen and (max-width: $screen-sm-max) {
                            width: 100%;
                            padding-left: 0;
                        }

                        @media screen and (max-width: $screen-xs-max) {
                            padding-left: 12px;
                            width: 65%;
                        }
                    }
                    
                    // Display 2 first videos
                    &:not(:nth-child(-n+2)) {
                        @media screen and (max-width: $screen-sm-max) {
                            display: none;
                        }

                        @media screen and (max-width: $screen-xs-max) {
                            display: flex;
                        }
                    }
                }
            }
        }
	}

    &.style-2 {
        .video-item {
            margin-bottom: 20px;
        }

        .video-item__title {
            a {
                font-size: $fs_small;

                @media screen and (max-width: $screen-xs-max) {
                    font-size: $fs_base;
                }
            }
        }

        .video-item__author {
            display: none;
        }

        &.style-sidebar,
        &.style-sidebar-2 {
            .video-item {
                &.video-style-3 {
                    @media screen and (max-width: $screen-sm-max) {
                        margin-bottom: 15px;
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        margin-bottom: 24px;
                    }

                    .video-item__duration {
                        @media screen and (max-width: $screen-sm-max) {
                            font-size: $fs_extra_small;
                        }

                        @media screen and (max-width: $screen-xs-max) {
                            font-size: $fs_small;
                        }
                    }

                    .video-item__date {
                        @media screen and (max-width: $screen-sm-max) {
                            display: none;
                        }

                        @media screen and (max-width: $screen-xs-max) {
                            display: block;
                        }
                    }
                }
            }
        }

        &.style-sidebar-2 {
            // Display 2 first videos
            .video-item {
                &.video-style-3 {
                    &:not(:nth-child(-n+2)) {
                        @media screen and (max-width: $screen-sm-max) {
                            display: none;
                        }

                        @media screen and (max-width: $screen-xs-max) {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &.style-3 {
        padding: 20px;
        border: 1px solid $cl-border;
        border-radius: $border-radius;

        @media screen and (max-width: $screen-xs-max) {
            padding: 15px;
        }

        .video-item__content {
            @media screen and (max-width: $screen-md-max) {
                padding: 0 20px;
            }

            @media screen and (max-width: $screen-sm-max) {
                padding: 0 15px;
            }
        }

        &.style-sidebar,
        &.style-sidebar-2 {
            .video-item__meta {
                @media screen and (max-width: $screen-sm-max) {
                    display: none;
                }

                @media screen and (max-width: $screen-xs-max) {
                    display: flex;
                }
            }

            .video-item__title {
                a {
                    @media screen and (max-width: $screen-sm-max) {
                        font-size: $fs_small;
                        margin-bottom: 10px;
                        padding-right: 15px;
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        font-size: $fs_base;
                        margin-bottom: 0;
                        padding-right: 0;
                    }
                }
                
            }
        }
    }

    &.style-4 {
        max-width: none;

        .video-list {
            margin: 0 -15px;
        }
        
        .video-item {
            padding: 0 15px;
            margin-bottom: 10px;
        }

        // Style at small area
        &.style-sidebar {
            // Video
            .video-item__date,
            .video-item__author {
                @media screen and (max-width: $screen-sm-max) {
                    display: none;
                }

                @media screen and (max-width: $screen-xs-max) {
                    display: block;
                }
            }
        }
    }

	// Arrow
    .slick-arrow {
        &.slick-prev, 
        &.slick-next {
            background: rgba($black, .3);
            border: none;
            color: transparent;
            cursor: pointer;
            display: block;
            font-size: 0;
            line-height: 0;
            outline: none;
            opacity: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            z-index: 99;
            width: 30px;
            height: 30px;
            border-radius: $border-radius_small;
            transform: translateY(-50%);
            transition: all .3s;

            &:before {
                color: $white;
                font-family: 'slick';
                font-size: 14px;
                line-height: 1;
                opacity: 1;
                transition: all .3s;
            }

            &:hover {
                background-color: $cl-primary;

                &:before {
                    background-color: $white;
                    transition: all .3s;
                }
            }
        }
        &.slick-prev {
            left: 15px;

            &:before {
                display: inline-block;
                background-repeat: no-repeat;
    			background-size: cover;
                content: '';
                -webkit-mask-image: url(../images/icon-arrow-left.svg);
			    mask-image: url(../images/icon-arrow-left.svg);
			    width: 4.69px;
			    height: 8px;
			    background-color: $white;
            }
        }
        &.slick-next {
            right: 15px;

            &:before {
                display: inline-block;
                background-repeat: no-repeat;
    			background-size: cover;
                content: '';
                -webkit-mask-image: url(../images/icon-arrow-right.svg);
			    mask-image: url(../images/icon-arrow-right.svg);
			    width: 4.69px;
			    height: 8px;
			    background-color: $white;
            }
        }
    }

    // Dots
    .slick-dots {
        list-style: none;
        padding: 0;
        text-align: center;

        @media screen and(max-width: $screen-xs-max) {
            bottom: 15px;
        }

        li {
            display: inline-block;
            padding: 0 12px;
            
            &.slick-active {
                button {
                    width: 16px;
                    height: 16px;
                    background: transparent;

                    @media screen and(max-width: $screen-md-max) {
                        width: 12px;
                        height: 12px;
                    }
                }
            }

            button {
                width: 8px;
                height: 8px;
                display: block;
                background: $black;
                border: 1px solid $black;
                font-size: 0;
                padding: 0;
                border-radius: 50%;

                @media screen and(max-width: $screen-md-max) {
                    width: 6px;
                    height: 6px;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .video-control {
        position: absolute;
        right: 0;
        top: 0;

        .video-control-item {
            display: inline-block;
            width: 26px;
            height: 26px;
            line-height: 24px;
            margin: 0 2px;
            text-align: center;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                cursor: pointer;
                

                i {
                    background-color: $cl-primary;
                    transition: all .3s;
                }
            }

            &.disable {
                opacity: .5;
                pointer-events: none;
            }
        }
    }
    
    // Dark Style
    &.dark-style {
        .haru-shortcode-title {
            color: $white;
        }

        &.default {
            .video-item__title a {
                color: $white;
            }

            .video-item__meta > div {
                color: $cl-text-2;

                &:after {
                    background-color: rgba($cl-text-2, .8);
                }
            }
        }
    }
}
