.video-search-shortcode {
    
}

.video-search-button {
    .haru-icon {
        &:hover {
            background-color: $cl-primary;
        }
    }
}

.video-search-popup {
    max-width: 80%;
    margin: 0 auto;
    color: $white;

    .search-form {
        border: 1px solid rgba($cl-border, .5);
    }

    .mfp-close {
        color: $white;
    }
}

/* 
* More details here: http://codepen.io/dimsemenov/pen/GAIkt
*/

.search-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all .3s ease-in-out;
    // transform: scale(.9);
}

.search-zoom-in.mfp-bg {
    opacity: 0;
    transition: all .3s ease-out;
}

.search-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transition: all .3s ease-out;
    // transform: scale(1);
}

.search-zoom-in.mfp-ready.mfp-bg {
    opacity: .95;
}

.search-zoom-in.mfp-removing .mfp-with-anim {
    // transform: scale(.9);
    opacity: 0;
    transition: all .3s ease-out;
}

.search-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
